#header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding:20px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 1300px
}
.logo{
    position: absolute;
    left: 20px;
    height: 120px;
    width: auto;
}
#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url(img/infra6.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
}
#nav {
    background-color: rgb(204, 0, 0);
    color: rgb(255, 255, 255);
    align-content: center;
    transition: color 3s;
    width: 1340px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
}
#nav :hover{
    color: rgb(0, 0, 0);
}
#nav ul {
    list-style-type: none;
    padding: 0%;
    display: flex; 
    align-items: center;
    justify-content: right;
}
#nav li{
    margin: 10px;
}   
#content{
    padding: 10px;
}
/* Table Container */
.table {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #035c12;
  }
  
  /* Basic Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 3px solid aliceblue;
  }
  
  /* Header Styles */
  th {
    background-color: #000000;
    color: white;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 2px solid aliceblue;
  }
  
  /* Body Styles */
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 2px solid aliceblue;
  }
  
  /* Alternate Row Color */
  tr:nth-child(even) {
    background-color: #ac0000;
  }
  /* Responsive Styling */
  @media (max-width: 600px) {
    table, th, td {
      display: block;
      width: 100%;
    }
    
    th {
      text-align: center;
    }
    
    tr {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid #ddd;
    }
    
    td {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
    
    td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      text-align: left;
      font-weight: bold;
    }
  }
  #Footer {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-top: 1px solid #f5eded; /* Optional: border to separate footer from content */
}

#Footer a {
  color: #0066d3; /* Link color */
  text-decoration: none;
  font-weight: bold;
}

#Footer a:hover {
color: rgb(74, 182, 245); 
}